body {
  margin:0;
  background-color: #f1f1f1;
  font-family: Arial;
}
h1 {
  font-size: 50px;
  word-break: break-all;
  text-align: center;
}
h2 {
  font-size: 35px;
  word-break: break-all;
  text-align: center;
}
.navbar {
  overflow: hidden;
  position:fixed;
  top:0px;
  width: 100%; /* Full width */
  /*border: 1px solid #555;*/
  font-family: 'Cinzel', serif;
}

/* Links inside the navbar */
.navbar a {
  float: right;
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 100%;
}
.blogBox{
  text-align: left;
  padding-left: 1.125%;
  padding-right: 1.125%;
  padding-top:2.25%;
  padding-bottom:2.25%;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ededed;
}
.blogPost{
  font-family: 'Arvo';
  padding-left: 15px;
  padding-right: 15px;
  color: #343434;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f9f9f9;
}

/* Change background on mouse-over */
.regularLink:hover {
  background: #ddd;
  transition-duration: 1s;
  color: black;
}
#aboutLink{
  float:left;
}
#aboutLink:hover{
  background:;
  transition-duration: 1s;
  color: white;
}
.date{
  margin-bottom: .6%;
  font-size: 135%;
}
.text{
  font-size: 100%;
  font-family: 'Dosis';
  margin-bottom: 2.5%;
}
.navbar .icon {
  display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  /*.navbar a:not(:first-child) {display: none;}*/
  #aboutLink{
    float:left;
  }
  #aboutLink:hover{
   background: #ddd;
   transition-duration: 1s;
   color: black;
 }
 .navbar a{display: none;}
 .navbar a.icon {
  float: right;
  display: block;
}
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  #aboutLink{
    float:none;
  }
  #aboutLink:hover{
   background: #ddd;
   transition-duration: 1s;
   color: black;
 }
 .navbar.responsive a {
  float: none;
  display: block;
  text-align: left;
}
} 