.ediClouds{	background-image: url('./smallImages/TheAbstract/scotland_0011.jpg');}
.zerFogTwo{	background-image: url('./smallImages/TheAbstract/switzerland_0018.jpg');}
.ediGradient{	background-image: url('./smallImages/TheAbstract/scotland_0027.jpg');}
.colMount{	background-image: url('./smallImages/TheAbstract/colorado_0026.jpg');}
.queRiver{	background-image: url('./smallImages/TheAbstract/img_2202_edit_edit.jpg');}

