.lonSunset{background-image: url('./smallImages/theCityWorking/london_0004.jpg');}
.lonPaintings{background-image: url('./smallImages/theCityWorking/london_0003.jpg');}
.lonSpires{background-image: url('./smallImages/theCityWorking/london_0002.jpg');}
.lonTowerBridge{background-image: url('./smallImages/theCityWorking/london_0001.jpg');}

.heidPano{background-image: url('./smallImages/theCityWorking/germany_0004.jpg');}
.heidVert{background-image: url('./smallImages/theCityWorking/germany_0001.jpg');}


.venSigh{	background-image: url('./smallImages/theCityWorking/italy_0006.jpg');}
.venHarb{	background-image: url('./smallImages/theCityWorking/italy_0005.jpg');}
.burClothes{	background-image: url('./smallImages/theCityWorking/italy_0002.jpg');}
.venVert{	background-image: url('./smallImages/theCityWorking/italy_0018.jpg');}

.denFade{background-image: url('./smallImages/theCityWorking/denmark_0012.jpg');}
.denSym{background-image: url('./smallImages/theCityWorking/denmark_0011.jpg');}
.denBiker{background-image: url('./smallImages/theCityWorking/denmark_0010.jpg');}
.denTrail{background-image: url('./smallImages/theCityWorking/denmark_0007.jpg');}
.denChurch{background-image: url('./smallImages/theCityWorking/denmark_0004.jpg');}
.denGuard{background-image: url('./smallImages/theCityWorking/denmark_0003.jpg');}
.denCourt{background-image: url('./smallImages/theCityWorking/denmark_0001.jpg');}

.ediCityPano{background-image: url('./smallImages/theCityWorking/scotland_0024.jpg');}
.ediHands{background-image: url('./smallImages/theCityWorking/scotland_0022.jpg');}
.ediMuseum{background-image: url('./smallImages/theCityWorking/scotland_0020.jpg');}
.ediTrails{background-image: url('./smallImages/theCityWorking/scotland_0018.jpg');}
.ediAir{background-image: url('./smallImages/theCityWorking/scotland_0013.jpg');}

.bosEscalator{background-image: url('./smallImages/theCityWorking/massachusetts_0011.jpg');}
.bosWorking{background-image: url('./smallImages/theCityWorking/massachusetts_0018.jpg');}
.bosLib{background-image: url('./smallImages/theCityWorking/massachusetts_0003.jpg');}
.bosStairs{background-image: url('./smallImages/theCityWorking/massachusetts_0004.jpg');}

.easLight{background-image: url('./smallImages/theCityWorking/massachusetts_0002.jpg');}

.bosChinatown{background-image: url('./smallImages/theCityWorking/massachusetts_0001.jpg');}

.nycFog{background-image: url('./smallImages/theCityWorking/img_8714_edit.jpg');}
.nycVert{background-image: url('./smallImages/theCityWorking/nyc_0003.jpg');}
.nycGrand{background-image: url('./smallImages/theCityWorking/nyc_0004.jpg');}
