.ortClearest{background-image: url('./smallImages/TheMountains/italy_0017.jpg');}
.ortSinglePeak{background-image: url('./smallImages/TheMountains/italy_0011.jpg');}
.ortLitValleyAndPeak{background-image: url('./smallImages/TheMountains/italy_0010.jpg');
background-position: left;}
.ortLitValley{background-image: url('./smallImages/TheMountains/italy_0009.jpg');}

.zerFoggy{background-image: url('./smallImages/TheMountains/switzerland_0015.jpg');}

.grinCabin{background-image: url('./smallImages/TheMountains/switzerland_0014.jpg');}
.grinCloseUp{background-image: url('./smallImages/TheMountains/img_1554_pano.jpg');
background-position: right;}
.grinCableCar{background-image: url('./smallImages/TheMountains/switzerland_0012.jpg');}

.lautCloseUp{background-image: url('./smallImages/TheMountains/switzerland_0009.jpg');}
.lautValley{background-image: url('./smallImages/TheMountains/figuringitout.jpg');}
.lautMountainSide{background-image: url('./smallImages/TheMountains/switzerland_0007.jpg');}
.intPeak{background-image: url('./smallImages/TheMountains/switzerland_0005.jpg');}
.lautPeak{background-image: url('./smallImages/TheMountains/switzerland_0003.jpg');}
.intLake{background-image: url('./smallImages/TheMountains/switzerland_0020.jpg');}

.colEm{background-image: url('./smallImages/TheMountains/colaug26.jpg');}
.colGoG{background-image: url('./smallImages/TheMountains/colaug24.jpg');}
.colOuray{background-image: url('./smallImages/TheMountains/colaug221.jpg');}
.colValley{background-image: url('./smallImages/TheMountains/colaug222.jpg');}
.colMaroonBell{background-image: url('./smallImages/TheMountains/mountains12.jpg');}
.colMaroonTreeline{background-image: url('./smallImages/TheMountains/colaug21.jpg');}