.germanField{	background-image: url('./smallImages/TheOpenRoad/germany_0006.jpg');}
.swissRoad{	background-image: url('./smallImages/TheOpenRoad/switzerland_0002.jpg');}
.colorado3{	background-image: url('./smallImages/TheOpenRoad/colorado_0030.jpg');}
.colorado2{	background-image: url('./smallImages/TheOpenRoad/colorado_0029.jpg');}
.colorado1{	background-image: url('./smallImages/TheOpenRoad/colorado_0003.jpg');}
.minneapolis{ background-image: url('./smallImages/TheOpenRoad/minneapolis_0010.jpg');}

