.threeBrothers {
  background-image: url("./smallImages/TheWoods/switzerland_0017.jpg");
}
.scottishFall {
  background-image: url("./smallImages/TheWoods/scotland_0017.jpg");
}
.amherstTrees {
  background-image: url("./smallImages/TheWoods/img_3294.jpg");
}
.loneRanger {
  background-image: url("./smallImages/TheWoods/colorado_0031.jpg");
}
.emeraldLake {
  background-image: url("./smallImages/TheWoods/colorado_0018.jpg");
}
.amherstFlowers {
  background-image: url("./smallImages/TheWoods/massachusetts_0019.jpg");
}
.eastonFlowers {
  background-image: url("./smallImages/TheWoods/massachusetts_0023.jpg");
}
.gunnsTree {
  background-image: url("./smallImages/TheWoods/img_3577_pano.jpg");
}
.gunnsFalls {
  background-image: url("./smallImages/TheWoods/img_3537_pano.jpg");
}
