.cocVert{	background-image: url('./smallImages/TheOcean/ireland_0009.jpg');}
.cocMainCliff{	background-image: url('./smallImages/TheOcean/ireland_0006.jpg');}
.cocEntrance{	background-image: url('./smallImages/TheOcean/ireland_0002.jpg');}

.duxMilky{	background-image: url('./smallImages/TheOcean/massachusetts_0016_s_FsPfV.jpg');}
.easDriftWood{	background-image: url('./smallImages/TheOcean/massachusetts_0021.jpg');}
.easBoulder {background-image: url('./smallImages/TheOcean/massachusetts_0007.jpg');}
.queColor {background-image: url('./smallImages/TheOcean/quebec_city_0010.jpg');}
.jamOcean {background-image: url('./smallImages/TheOcean/portfolio_0002.jpg');}
.briIce {background-image: url('./smallImages/TheOcean/portfolio_0007.jpg');}
