.threeBrothers{	background-image: url('./smallImages/theWoods/switzerland_0017.jpg');}
.scottishFall{	background-image: url('./smallImages/theWoods/scotland_0017.jpg');}
.amherstTrees{	background-image: url('./smallImages/theWoods/IMG_3294.jpg');}
.loneRanger{	background-image: url('./smallImages/theWoods/colorado_0031.jpg');}
.emeraldLake{	background-image: url('./smallImages/theWoods/colorado_0018.jpg');}
.amherstFlowers{ background-image: url('./smallImages/theWoods/massachusetts_0019.jpg');}
.eastonFlowers{ background-image: url('./smallImages/theWoods/massachusetts_0023.jpg');}
