.ediHorse{background-image: url('./smallImages/TheZoo/scotland_0006.jpg');
background-position: right;}
.ediOwl{background-image: url('./smallImages/TheZoo/scotland_0004.jpg');}
.ediSwan{background-image: url('./smallImages/TheZoo/scotland_0002.jpg');}

.bouBull{background-image: url('./smallImages/TheZoo/colorado_0023.jpg');}
.aspDeer{background-image: url('./smallImages/TheZoo/img_9805.jpg');}

.queHusky{background-image: url('./smallImages/TheZoo/dsc02172_edit.jpg');}
.queBlonde{background-image: url('./smallImages/TheZoo/quebec_city_0007.jpg');}